html {

}
body {
  margin: 0;
  padding: 0;
  background-color: #434343;
  font-family: monospace;
}

h1 {
  text-align: center;
  color: #ddd;
}

#game-wrapper {
  width: 100%;
  height: 500px;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  margin-bottom: 15px;
  position: relative;
}

#game-canvas {
  width: 100%;
  height: 500px;
  background-color: #5c94fc;
}

#help-text {
  text-align: center;
  color: #fff;
}

#pause-menu {
  display: none;
  width: 50%;
  height: 200px;
  background-color: #c74b0c;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25%;
  margin-top: -12%;
  text-align: center;
  border: 1px solid #af5b41;
  border-radius: 10px;
  color: #ccc;
  font-size: 50px;
}

.visible {
  display: block !important;
}