html {

}
body {
  margin: 0;
  padding: 0;
  background-color: #434343;
  font-family: monospace;
}

.debug {
  font-size: 16px;
  color: #fff;
  width: 500px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #333;
  background-color: #555;
  padding: 20px;
  font-size: 14px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #ddd;
}

#game-wrapper {
  width: 100%;
  height: 512px;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  margin-bottom: 15px;
  position: relative;
  background-color: #111;
}

#game-canvas {
  width: 100%;
  height: 512px;
  background-color: #5c94fc;
  transition: opacity 0.2s;
}

#help-text {
  text-align: center;
  color: #fff;
}

#pause-menu {
  display: block;
  width: 50%;
  height: 200px;
  background-color: #c74b0c;
  position: absolute;
  top: 43%;
  left: 50%;
  margin-left: -25%;
  margin-top: -12%;
  text-align: center;
  border: 1px solid #af5b41;
  border-radius: 10px;
  color: #ccc;
  font-size: 50px;
  top: 43%;
  opacity: 0;
  z-index: -1;
  transition: top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.paused #game-canvas{
  opacity: 0.5;
}

.paused #pause-menu {
  z-index: 1;
  top: 50%;
  opacity: 1;
  display: block !important;
}

#music-controls {
  margin-top: 25px;
  color: #bbb;
  text-align: center;
}

#music-controls span {
  cursor: pointer;
}

#music-controls span:hover {
  color: #fff;
}
