html {

}
body {
  margin: 0;
  padding: 0;
  background-color: #434343;
  font-family: monospace;
}

.debug {
  font-size: 16px;
  color: #fff;
  width: 500px;
  float: left;
  border: 1px solid #333;
  background-color: #555;
  padding: 20px;
  font-size: 14px;
  border-radius: 5px;
  display: none;
}

h1 {
  text-align: center;
  color: #ddd;
  clear: both;
}

#game-wrapper {
  width: 100%;

  margin-bottom: 15px;
  position: relative;
  background-color: #333;
}

#toolbox {
  height: 64px;
  width: 85%;
  margin: auto;
  background-color: #222;
  text-align: center;
}

.block, .spacer {
  width: 50px;
  height: 50px;
  background-color: #333;
  display: inline-block;
  margin-top: 8px;
  margin-right: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
}

.spacer {
  width: 4px;
  background-color: transparent;
}

.block:hover {
  background-color: #444 !important;
}

.block.selected {
  background-color: #665 !important;
}

#Block {
  background: url("/images/block.png") no-repeat #333 center;
}

#Brick {
  background: url("/images/brick.png") no-repeat #333 center;
}

#ItemBlock {
  background: url("/images/item_block.png") no-repeat #333 center;
  background-size: 32px;
}

#Ground {
  background: url("/images/ground.png") no-repeat #333 center;
}

#Tile {
  background: url("/images/tile.png") no-repeat #333 center;
}

#Coin {
  background: url("/images/coin.png") no-repeat #333 center;
  background-size: 32px;
}

#PipeBottomRight {
  background: url("/images/pipe_bottom_right.png") no-repeat #333 center;
}

#PipeBottomLeft {
  background: url("/images/pipe_bottom_left.png") no-repeat #333 center;
}

#PipeTopRight {
  background: url("/images/pipe_top_right.png") no-repeat #333 center;
}

#PipeTopLeft {
  background: url("/images/pipe_top_left.png") no-repeat #333 center;
}

#Eraser, #Save, #Load, #Clear {
  font: normal normal normal 14px/1 FontAwesome;
  position: relative;
}

#Eraser:before, #Save:before, #Load:before, #Clear:before {
  content: "\f12d";
  position: absolute;
  font-size: 18px;
  top: 0px;
  left: 0px;
  line-height: 50px;
  text-align: center;
  width: 100%;
}

#Save:before {
  content: "\f093";
}

#Load:before {
  content: "\f019";
}

#Clear:before {
  content: "\f1e2";
}


#game-canvas {
  width: 85%;
  margin-left: 7.5%;
  height: 512px;
  background-color: #5c94fc;
  transition: opacity 0.2s;
}

#help-text {
  text-align: center;
  color: #fff;
}

#pause-menu {
  display: block;
  width: 50%;
  height: 200px;
  background-color: #c74b0c;
  position: absolute;
  top: 43%;
  left: 50%;
  margin-left: -25%;
  margin-top: -12%;
  text-align: center;
  border: 1px solid #af5b41;
  border-radius: 10px;
  color: #ccc;
  font-size: 50px;
  top: 43%;
  opacity: 0;
  z-index: -1;
  transition: top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.paused #game-canvas{
  opacity: 0.5;
}

.paused #pause-menu {
  z-index: 1;
  top: 50%;
  opacity: 1;
  display: block !important;
}

#music-controls {
  margin-top: 25px;
  color: #bbb;
  text-align: center;
}

#music-controls span {
  cursor: pointer;
}

#music-controls span:hover {
  color: #fff;
}
